.map {
    display: flex;
    flex-direction: row;
    background-color: rgba(153, 208, 231, 0.379);
    justify-content: center;
    align-items: center;
  
  }
  
  .map-left {
      /* display: flex; */
    width: 50%;
    height: 520px;
    position: relative;
    justify-content: center;
  
  }
  .map-content{
      width: 90%;
      padding: 55px 60px 30px 30px;
      position: absolute;
  
      right: 0;
      
  }
  .map-heading {
    color: #000;
    font-family: DM Serif Display;
    font-size: 67.2px;
    font-style: normal;
    font-weight: 400;
    line-height: 73.92px;
    text-transform: uppercase;
    margin: 45px 0px 10px;
  }
  .map-subheading{
      color: #002E48;
  font-family: Parisienne;
  font-size: 31.2px;
  font-style: normal;
  font-weight: 400;
  line-height: 35.42px;
  margin-bottom: 30px;
  }
  .map-form-heading{
      color: #000;
  font-family: Montserrat;
  font-size: 18.2px;
  font-style: normal;
  font-weight: 500;
  line-height: 20.02px;
  margin: 20px 0px 30px;
  }
  .map-form-content{
      display: flex;
  }
  .map-form-content input{
      padding: 15px 5px;
      width: 392.2px;
      margin: 10px 0px 15px;
      border: none;
      border-bottom: 1px solid #FFF;
      background-color: rgba(153, 208, 231, 0.379);
  
  }
  .map-form-content input::placeholder{
      color: #000;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  }
  .map-form-content button{
      margin: 20px 0px 20px 15px;
      border: 1px solid #A31521;
  background: #A31521;
  
  color: #FFF;
  text-align: center;
  font-family: DM Serif Display;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 22.857px;
  text-transform: uppercase;
  
  padding: 10px 40px  ;
  }
  .map-right {
    width: 50%;
  }
  