/* Apply styles to html and body elements to ensure full page coverage */
#root {
  margin: 0;
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Apply background image to the body element */
.drink-bg{
  background-image: url('../../../public/images/backgound/drinksbackground.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}

/* Other styles for your webpage */
.main-content {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 5%;
  width: 100%;
}

.drink-heading {
  color: #000;
  text-align: center;
  font-style: normal;
  font-weight: 600;
  line-height: 73.92px;
  text-transform: uppercase;
  font-size: 56px;
}

.drink-menu-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  margin-bottom: 10px;
}

.drink-menu-nav button {
  border: 2px solid #002e48;
  background: #002e48;
  min-width: 160px;
  padding: 10px 41.92px 11.84px 42px;
  margin: 10px;
  margin-right: 20px;
  color: #fff;
  text-align: center;
  font-family: DM Serif Display;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 22.857px;
  text-transform: uppercase;
}

.red-color-button {
  animation: button-color-change 0.5s 1;
  border: 2px solid #a31521 !important;
  background: #a31521 !important;
}

@keyframes button-color-change {
  0% {
    border: 2px solid #002e48;
    background: #002e48;
  }
  100% {
    border: 2px solid #a31521;
    background: #a31521;
  }
}

/* Media query for smaller screens */
@media (max-width: 766px) {
  .drink-menu{
    width: 100%;
  }
  .drink-menu-nav {
    flex-direction: column;
    width: 100%;
  }

  .drink-menu-nav button {
    margin: 0;
    width: 100%;
    padding: 7px 30px;
  }

  .drink-heading {
    margin-bottom: 10px;
    font-size: 36px !important;
  }

  .red-color-button {
    border: 2px solid #a31521 !important;
    background: #a31521 !important;
  }
}
