.form {
  margin-top: 20px;
  height: 70%;
  width: 600px;
  justify-content: center;
  align-self: center;
}

.asap {
  display: block;
  margin-bottom: 8px;
}

@media (max-width: 1300px) {
  .sub-heading p {
    white-space: normal;
    overflow: visible;
    text-overflow: unset;
    margin-bottom: 8px;
  }

  .asap {
    display: inline;
  }
}
.checkbox-row {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
  align-items: center;
}

.checkbox-polices {
  border-radius: 2.5px;
  border: 1px solid #767676;
  background: #fff;
  height: 100%;
  margin: 0px 10px;
}

.checkbox-polices::after {
  content: "";
  border-radius: 2.5px;
  background: #0075ff;
}

.checkbox-row label {
  color: #212529;
  font-family: Roboto;
  font-size: 1rem;
  line-height: 1.5;
  text-align: left;
  font-weight: 700 !important;
}

.checkbox-row a {
  text-decoration: none;
  color: #212529;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
}

.multiple-checklist {
  margin-top: 19px;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
}

.multiple-checklist p {
  color: #6d6e71;
  font-family: "Roboto";
  font-size: 16px;
  font-style: normal;
  font-weight: 800;
  line-height: 24px;
  margin: 0px 0px 16px 16px;
}

.multiple-checklist div {
  align-items: start;
  margin-bottom: 8px;
}
.multiple-checklist label {
  color: #212529;
  margin-left: 20px;
  font-family:"Segoe UI";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  display: inline-block;
  margin-bottom: 0.5rem;
}

.multiple-checklist input {
  display: inline;
  height: 12px;
}

.textarea {
  resize: vertical;
  border-radius: 10px;
  border: 2px solid #f3f3f4;
  background: #fff;
  min-height: 140px;
  width: 100%;
}
.bottom-continer {
  width: 100%;
  display: inline-flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.bottom-continer p {
  color: #4f5454;
  font-family: Roboto;
  font-size: 17.6px;
  font-style: normal;
  font-weight: 400;
  line-height: 26.4px;
  margin-left: 24px;
}

.bottom-continer button {
  min-width: 200px;
  border-radius: 10px;
  background: #00a89e;
  color: #000;
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  padding: 10px;
  border: none;
}

.bottom-continer button:hover {
  color: #fff;
}

.button-message {
  height: 22px;
}

.submit {
  width: 100%;
  /* height: 50px; */
  border-radius: 10px;
  background: #353848;
  color: #fff;
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  /* margin: 8px 0px; */
}

.message {
  display: flex;
  align-items: center;
  margin-top: 8px;
  padding: 8px;
  width: max-content;
}

.message:hover {
  background-color: #eee;
  border-radius: 5px;
}

.icon-wrapper {
  display: flex;
  align-items: center;
  justify-content: center; /* Center the icon horizontally and vertically */
  margin-right: 10px; /* Add some margin if needed between the icon and the file name */
}

.custom-icon {
  font-size: 12px;
  width: 12px;
  height: 12px;
  color: #ea5329;
  margin-right: 4px;
}

.file-name {
  box-sizing: border-box;
  width: 120px;

  color: #212529;
  font-weight: 400;
  line-height: 1.5;
  text-align: left;
  margin-top: 0;
  font-size: 0.9em;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.close-button {
  border: 1px solid #000;
  border-radius: 50%;
  color: #000;
  cursor: pointer;
  font-size: 10px;
  height: 16px;
  /* line-height: 12px; */
  text-align: center;
  width: 16px;

  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* color: white; */
  font-weight: bold;
  text-decoration: none;
}
.message-invisible {
  opacity: 0 !important;
}

.image-picker {
  padding: 0px 15px;
  width: 52%;
  display: none;
}

.image-picker p {
  font-weight: 400;
  line-height: 1.5;
  text-align: left;
  box-sizing: border-box;
  margin-bottom: 15px;
  margin-top: 0;
  color: #4f5454;
  font-size: 1.1em;
}

@media (max-width: 766px) {
  .image-picker {
    width: 100%;
  }
}
