
.Main-container {
  display: block;
  flex-direction: column;
  background-color: #f7f8fa;
  margin-bottom: 130px;
  /* justify-content: center;
  align-items: center; */
}

.main-heading{
  margin-left: 25%;
  margin-right: 25%;
  
}
.form {
  margin-top: 20px;
  height: 70%;
  width: 600px;
  justify-content: center;
  align-self: center;
}

.main-heading h1 {
  color: #212529;
  text-align: center;
  font-family: Roboto;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px;
}

.sub-heading{
  margin: 48px auto 8px auto;
 
}
.sub-heading p{
  color: #4f5454;
  justify-content: center;
  text-align: center;
  font-family: Roboto;
  font-size: 17.6px;
  font-style: normal;
  font-weight: 700;
  line-height: 26.4px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0px;
}


.asap {
  display: block;
  margin-bottom: 8px;
}

@media (max-width: 1300px) {
  .sub-heading p {
    white-space: normal;
    overflow: visible;
    text-overflow: unset;
    margin-bottom: 8px;

  }

  .asap {
    display: inline;
  }
}

.main-heading a {
  color: #212529;
  text-decoration: none;
}

.checkbox-row {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
  align-items: center;
  
}

.checkbox-polices {
  border-radius: 2.5px;
  border: 1px solid #767676;
  background: #fff;
  height: 100%;
  margin: 0px 10px;
  
}

.checkbox-polices::after {
  content: "";
  border-radius: 2.5px;
  background: #0075ff;
}

.checkbox-row label {

  color: #212529;
  font-family: Roboto;
  font-size: 1rem;
  line-height: 1.5;
  text-align: left;
  font-weight: 700!important;
  }

.checkbox-row a {
  text-decoration: none;
  color: #212529;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
}

.multiple-checklist {
  margin-top: 19px;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  
}

.multiple-checklist p {
  color: #6D6E71;
font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: 24px;
margin-left: 16px;
}

.multiple-checklist div {
  align-items: start;
  margin-bottom: 8px;
}
.multiple-checklist label {
  color: #212529;
  margin-left: 20px;
}

.multiple-checklist input {
  display: inline;
  height: 12px;
} 


.textarea {
  resize: vertical;
  border-radius: 10px;
  border: 2px solid #f3f3f4;
  background: #fff;
  min-height: 140px;
  width: 100%;
}
.bottom {
  margin-top: 10px;
}
.bottom-continer {
  width: 100%;
  height: 4%;
  display: inline-flex;
  flex-direction: row;
  justify-content: space-between;
}

.bottom-continer p {
  height: 2%;
  color: #4f5454;
  font-family: Roboto;
  font-size: 17.6px;
  font-style: normal;
  font-weight: 400;
  line-height: 26.4px;
  margin-left: 24px;
}

.bottom-continer button {
  min-width: 200px;
  border-radius: 10px;
  background: #00a89e;
  margin-top: 5px;
  color: #000;
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.button-message{
  height: 22px;
}

.submit {
  width: 100%;
  /* height: 50px; */
  border-radius: 10px;
  background: #353848;
  color: #fff;
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  margin: 16px 0px;
}
