.text-input {
  margin: 5px 0px 5px;
  display: block;
  color: #000;
  display: inline-flex;
  padding: 13.5px 10px 13.5px 10px;
  align-items: flex-start;
  width: -webkit-fill-available;
  border-radius: 10px;
  border: 2px solid #f3f3f4;
  background: #fff;
}

input:focus {
  border: 2px solid #000;
  border-radius: 4px;
  box-shadow: 0 0 2px #000;
  outline-offset: 0px;
  outline: none;
}

.empty-input {
  border: 2px solid #c04a39;
  border-radius: 4px;
  box-shadow: 0 0 2px #c04a39;
  outline-offset: 0px;
  outline: none;
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #000;
  font-family: Roboto;
  font-size: 14.4px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  opacity: 1;
}

.extra-border {
  border: 1.5px solid #1a1a1a !important;
}


