.set-list-width{
  display: flex;
}

.left-container-dinner{
  position: relative; /* Position the left-container-dinner relatively */

  display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    /* width: 50%; */

}
.restrict-width{
  width: 50%;
}
.container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border-left: 1px solid #e4e4e4;
    padding-left: 4px;
    background: #fff;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
    margin: 10px 20px;
    padding: 20px 30px 30px;
    /* width: 50%; */
  
    /* background-color: aqua;  */
    position: relative;

  }
  .container h1 {
    color: #000;
    text-align: center;
    font-family: Parisienne;
    font-size: 31.2px;
    font-style: normal;
    font-weight: 400;
    line-height: 35.42px;
  } 
  
  .container p {
    color: #000;
    text-align: center;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 22.857px;
    margin: -5px 0px 0px 0px;
  }
  .overlay {
    content: "";
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 135px 0px 0px 30px;
    background: rgba(255, 255, 255, 1); 
    opacity: 0;
  }

  .red-vl{
    height: 100%;
    width: 1px;
    background-color: #a31521;
  }

  .down-animtate{
    animation-name: enterFromDown;
    animation-duration: 0.6s;
  }

  .right-animtate{
    animation-name: enterFromRight;
    animation-duration: 1s;
    animation-fill-mode: forwards;
  }

  

  @keyframes enterFromDown {
    from {
      transform: translateY(0);
      opacity: 1;
    }
    to {
      transform: translateY(100%);
      opacity: 0;
    }
  }
  
  @keyframes enterFromRight {
    from {
      opacity: 1;
      transform: translateX(-100%);
    }
    to {
      opacity: 0;
      transform: translateX(0);
    }
  }


  @media (max-width: 766px) {
    .set-list-width {
      flex-direction: column !important;
    }

    .container{
      width: 100% !important;
    }
    .food-container h1 {
      font-size: 21px;
    }
    .food-container {
      width: 95%;
      margin: 10px;
    }
  }