.main-heading {
  margin: 48px 25% 28px 25%;
  /* padding-left: 20px;
  padding-right: 20px; */

  text-align: center;
  justify-content: center;
  align-items: center;
}

.main-heading-text {
  color: #212529;
  text-align: center;
  font-family: Roboto;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px;
}

.sub-heading {
  width: 99%;
  margin-top: 24px;
  margin-bottom: 0.5rem;
  font-size: 17.6px;
  line-height: 26.4px;
  text-align: center;
}

