@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Parisienne:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400&display=swap");
body {
  margin: 0;
  line-height: normal;
}
:root {
  /* fonts */
  --font-dm-serif-display: "DM Serif Display";
  --font-montserrat: Montserrat;
  --font-parisienne: Parisienne;

  /* font sizes */
  --font-size-base: 1rem;
  --font-size-sm: 0.88rem;
  --font-size-lg-2: 1.14rem;
  --font-size-12xl-2: 1.95rem;

  /* Colors */
  --color-white: #fff;
  --color-brown: #a31521;
  --color-darkslategray: #002e48;
  --color-gainsboro: #e4e4e4;
  --color-gray: #787878;
  --color-black: #000;

  /* Paddings */
  --padding-3xs: 0.63rem;
  --padding-xs-8: 0.74rem;
}
