.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, 20%);
}

.grid > div {
  display: grid;
  overflow: hidden; /* Hide overflow to maintain constant div size */
  transition: transform 0.3s ease; /* Add transition for smooth zoom effect */
}

grid > div::after,
.grid > div > img {
  grid-area: 1 / 1 / 2 / 2;
}

.grid > div::after {
  content: "";
  display: block;
}

.grid > div > img {
  width: 100%;
  opacity: 0.9;  
}


  
.div1, .div8{
    grid-column: span 2;
    grid-row: span 2;
    background: rgba(0, 0, 0, 0.15);
    box-shadow: inset 0px 0px 10px 3px rgba(0,0,0,0.4);
}
