.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, 20%);
  /* grid-gap: 1rem; */
}

.grid > div {
  background: #000000;
  padding: 1rem;
  display: grid;

}

.grid > div::before {
  content: "";
  padding-bottom: 100%;
  display: block;
}
  
  .div1 {
    grid-column: span 2;
    grid-row: span 2;
  }