.background-container {
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url("./events_page_back.jpeg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.heading {
  color: #fff;
  /* text-align: center; */
  font-family: "DM Serif Display", serif;
  font-size: 64.2px;
  font-style: normal;
  font-weight: 400;
  line-height: 73.92px;
  text-transform: uppercase;
   text-align: center;
  /* height: 54px; */
  /* margin-left: auto;
  margin-right: auto; */
  margin: 60px 0 0 0;
}

.events-subheading1 {
  color: #fff;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 18.2px;
  font-style: normal;
  font-weight: 400;
  line-height: 20.02px;
  text-align: center;
  padding: 0%;
  margin: 40px 0px 15px;
}

.events-subheading2 {
    color: #fff;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 18.2px;
    font-style: normal;
    font-weight: 400;
    line-height: 20.02px;
    text-align: center;
  }