@import url("https://fonts.googleapis.com/css?family=Material+Icons:400&display=swap");

.header-navigation {
  background-color: #fff;
  min-height: 50px;
}

.col-md-12 {
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
  width: 100%;
}

@media (min-width: 768px) {
  .col-md-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}

.go-back {
  display: table;
  height: 100%;
  left: 10px;
  position: absolute;
}

.logo-holder {
  margin: 0 auto;
  max-width: 150px;
}

a {
  background-color: transparent;
  color: #000;
  -webkit-text-decoration: none;
  text-decoration: none;
}

.go-back-link {
  padding: 10px 0;
  vertical-align: middle;
  text-align: center;
}

.go-back-link p {
  position: absolute;
  color: #4f5454;
  display: table-cell;
  font-size: 1.2em;
  font-weight: 700;
  top:10px;
  left: 20px;
}

a:hover {
  color: #0056b3;
  -webkit-text-decoration: underline;
  text-decoration: underline;
}

.go-back-link:hover {
  color: #333534;
}

img {
  border-style: none;
  vertical-align: middle;
}

.logo {
  max-height: 120px;
  max-width: 150px;
}

.material-icons {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
}

.go-back-link span {
  position: absolute;
  font-size: 1.2em;
  font-weight: 700;
  vertical-align: sub;
  width: min-content;
  left: 0;
  top:12px;
  color: #4f5454;
}
