.calender-container {
  border-radius: 6px;
  /* border: 1px solid #1a1a1a; */
  border: none;
  background: #fff;
  padding: 12px;
  margin: 9px;

  color: #1a1a1a;
  font-family: Roboto;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}
